/*  your css code here. If applicable */
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#buttons {
    margin-top: 20px;
}

.btn, .stop {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.stop {
    background-color: #FF0000; /* Red color for the stop button */
    color: #FFFFFF; /* White text color for the stop button */
}
